<!-- views/hello.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
</head>
<body>
  <h1>Hello World</h1>
  <% if (username === 'Guest') { %>
    <form method="POST" action="/login">
      <label for="username">Enter your username:</label>
      <input type="text" id="username" name="username" required>
      <button type="submit">Login</button>
    </form>
  <% } else { %>
    <p>Welcome, <%= username %>! (<a href="/logout">Logout</a>)</p>
  <% } %>
</body>
</html>
